body {
    font-family: Poppins;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

.name {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width p {
    text-align: justify;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-area {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right top;
}

section {
    height: 500px;
    padding-bottom: 100px;

}

.buttonlink {
    padding: 15px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to right, mediumseagreen, darkcyan);
    border-radius: 10px;
}

.buttonlink:hover {
    background-image: linear-gradient(to right, indianred, orange);
}

.experience {
    height: 500px;
    padding-bottom: 100px;
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}


.prime {
    float: left;
    width: 35%;
    height: 80%;
    margin-left:6%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 5px 5px 40px gray;
   
}

.prime p {
    text-align: justify;
}

#exp1 {
    border-left: 8px solid;
    border-image: linear-gradient(180deg, blue, green);
    border-image-slice: 1;
}

#exp2 {
    border-left: 8px solid;
    border-image: linear-gradient(180deg, tomato, goldenrod);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}
